@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

:root {
  --poppin: "Poppins", "san-serif";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: var(--poppin);
  scroll-behavior: smooth;
}

header {
  width: 100%;
  height: 100vh;
}

nav {
  width: 100%;
}

nav > img {
  position: absolute;
  z-index: -1;
  height: 90%;
  width: 66%;
  display: flex;
  right: 0;
}

.nav-container {
  height: 5.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 0;
}

.mobile_nav {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: fixed;
  left: -100%;
  top: 0;
  transition: all 1s
    linear(
      0 0%,
      0 2.27%,
      0.02 4.53%,
      0.04 6.8%,
      0.06 9.07%,
      0.1 11.33%,
      0.14 13.6%,
      0.25 18.15%,
      0.39 22.7%,
      0.56 27.25%,
      0.77 31.8%,
      1 36.35%,
      0.89 40.9%,
      0.85 43.18%,
      0.81 45.45%,
      0.79 47.72%,
      0.77 50%,
      0.75 52.27%,
      0.75 54.55%,
      0.75 56.82%,
      0.77 59.1%,
      0.79 61.38%,
      0.81 63.65%,
      0.85 65.93%,
      0.89 68.2%,
      1 72.7%,
      0.97 74.98%,
      0.95 77.25%,
      0.94 79.53%,
      0.94 81.8%,
      0.94 84.08%,
      0.95 86.35%,
      0.97 88.63%,
      1 90.9%,
      0.99 93.18%,
      0.98 95.45%,
      0.99 97.73%,
      1 100%
    );
  width: 100%;
  z-index: 999;
  /* display: none; */
  cursor: pointer;
}

.open_nav {
  left: 0;
}

.mobile_nav .close_nav {
  cursor: pointer;
  font-size: 3rem;
  position: absolute;
  right: 2.5rem;
  top: 0.5rem;
  transition: all 0.3s;
}

#mobileNav-menu-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1rem;
  text-align: center;
  list-style: none;
  font-weight: 500;
}

.nav-container #bton_icon {
  display: none;
}

.nav-container .nav-logo img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.nav-container .menu {
  display: flex;
}

.nav-container .menu #menu-list {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  color: #1575c9;
  font-weight: 700;
}

.nav-container .menu #menu-list li a {
  transition: all 0.3s ease;
  text-decoration: none;
}

.nav-container .menu #menu-list li a:hover {
  color: tomato;
}

.nav-container .menu #menu-list li {
  list-style: none;
}

.nav-container .register {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-container .register_details {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 99;
  align-items: center;
  justify-content: center;
  display: flex;
}

.nav-container .register_details .full_registration {
  width: 70%;
  height: 60%;
  margin: auto;
  background-color: White;
  border-radius: 39px;
}

.nav-container .register > a:nth-child(1) {
  padding: 14px 20px 14px 14px;
  text-decoration: none;
}

.nav-container .register > a:nth-child(2) {
  padding: 14px 14px 14px 14px;
  background-color: #199ceff5;
  border-radius: 9px;
  color: white;
  text-decoration: none;
}

.nav-container
  .register_details
  .full_registration
  .register_detail
  .login_here {
  position: absolute;
  height: 100%;
  z-index: 999;
  background-color: white;
}

.nav-container .register_details {
  display: none;
}

.nav-container .register_details .full_registration {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
  background-color: skyblue;
}

.nav-container .register_details .full_registration .register_detail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container
  .register_details
  .full_registration
  .register_detail
  .register_form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-container
  .register_details
  .full_registration
  .register_detail
  .register_form
  form {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 60%;
}

.nav-container
  .register_details
  .full_registration
  .register_detail
  .register_form
  form
  label {
  padding: 5px 0 0;
  font-size: 1.2rem;
}

.nav-container
  .register_details
  .full_registration
  .register_detail
  .register_form
  form
  input {
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  background-color: skyblue;
  height: 1.3rem;
  font-size: 14px;
}

.register_bton {
  margin-top: 2rem;
  padding: 10px 32px;
  border-radius: 10px;
  font-size: 1.1rem;
  outline: none;
  box-shadow: 7px 7px 30px #000;
  background-color: tomato;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.4s linear;
}

.register_bton:hover {
  background-color: #000;
}

.nav-container .register_details .full_registration .login_detail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container .register_details .full_registration .login_detail .login_form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-container
  .register_details
  .full_registration
  .login_detail
  .login_form
  form {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 60%;
}

.nav-container
  .register_details
  .full_registration
  .login_detail
  .login_form
  form
  label {
  padding: 5px 0 0;
  font-size: 1.2rem;
}

.nav-container
  .register_details
  .full_registration
  .login_detail
  .login_form
  form
  input {
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  background-color: skyblue;
  height: 1.3rem;
  font-size: 14px;
}

.login_bton {
  margin-top: 2rem;
  padding: 10px 32px;
  border-radius: 10px;
  font-size: 1.1rem;
  outline: none;
  box-shadow: 7px 7px 30px #000;
  background-color: tomato;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.4s linear;
}

.login_bton:hover {
  background-color: #000;
}

.head {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  top: 4rem;
  padding-top: 2.5rem;
  position: relative;
}

.head .car-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 8rem;
}

.head .car-detail h1 {
  font-size: 3rem;
}

.head .car-detail h1 > span {
  color: tomato;
}

.head .car-detail p {
  font-size: 0.8rem;
  color: black;
}

.head .car-detail .button_container {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-top: 2rem;
}

.head .car-detail .button_container button {
  padding: 18px;
  font-size: 1.2rem;
  display: flex;
  justify-self: center;
  align-items: center;
  border-radius: 8px;
  outline: none;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

.head .car-detail .button_container button a {
  color: #fff;
  text-decoration: none;
}

.head .car-detail .button_container a #car_book {
  background-color: tomato;
  color: black;
}

.head .car-detail .button_container a #know_more {
  background-color: #1575c9;
  color: white;
}

.head .car-detail .button_container button span {
  font-size: 1.3rem;
  margin-left: 5px;
  color: #fff;
}

.head .car-image {
  width: fit-content;
}

.head .car-image img {
  position: relative;
  /* right: 5rem; */
  width: 90%;
  height: 100%;
}

header .scroll_top {
  display: none;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: tomato;
  position: fixed;
  right: 4rem;
  bottom: 4rem;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 50%;
  color: white;
  transition: all 0.4s ease;
  /* display: none; */
  z-index: 20;
}

header .scroll_top:hover {
  box-shadow: 0px 0px 30px #000000;
  transform: rotateZ(360deg);
}

/* MAIN SECTION */

main .booking {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

main .booking_details {
  width: 80%;
  border-radius: 7px;
  padding: 1.5rem 1rem;
  background-color: rgb(244, 239, 239);
}

main .booking_details h2 {
  display: flex;
  justify-content: left;
  padding-left: 2rem;
  align-items: center;
  margin-bottom: 1rem;
}

main .booking_details form {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

main .booking_details form .options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  padding: 0 25px;
}

main .booking_details form .options label {
  font-size: 1.2rem;
  display: flex;
  justify-content: left;
  align-items: center;
}

main .booking_details form .options select {
  padding: 7px;
  margin: 8px 0 2rem;
  font-size: 1.1rem;
  outline: none;
  border-radius: 4px;
  border: 2px solid black;
  cursor: pointer;
}

main .booking_details form .options select .all_options {
  color: tomato;
  cursor: pointer;
}

main .booking_details form .options span:nth-child(1) {
  margin-right: 10px;
  color: #199ceff5;
}

main .booking_details form .options span:nth-child(2) {
  color: tomato;
}

main .booking_details form .optionFour .date_options {
  padding: 7px;
  margin: 8px 0 2rem;
  font-size: 1.1rem;
  outline: none;
  border-radius: 4px;
  border: 2px solid black;
  cursor: pointer;
}

main .booking_details .confirm_button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .booking_details .confirm_button #confirm {
  padding: 12px;
  width: 300px;
  background-color: tomato;
  outline: none;
  border: 2px solid black;
  font-size: 1.1rem;
  font-weight: 700;
  margin: 1.5rem 0 1rem 0;
  text-transform: uppercase;
  cursor: pointer;
}

.all_slot_booking {
  width: 80%;
  /* height: 100vh; */
  position: absolute;
  z-index: 999;
  background-color: white;
  height: fit-content;
  display: none;
}

.all_slot_booking .booking_slot_confirmation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* SECTION TWO */

.some_prescription {
  width: 100%;
  margin-top: 8rem;
}

.some_prescription .explain_about_cars .planning {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.some_prescription .explain_about_cars .planning_features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem 4rem;
  gap: 3rem;
}

.some_prescription .explain_about_cars .planning_features .planningall {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

.some_prescription
  .explain_about_cars
  .planning_features
  .planningall
  .aboutPlan-explain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.some_prescription
  .explain_about_cars
  .planning_features
  .planningall
  .aboutPlan-explain
  h2 {
  margin-bottom: 12px;
}

.some_prescription
  .explain_about_cars
  .planning_features
  .planningall
  .aboutPlan-explain
  h2
  span {
  color: tomato;
}

.car_models .model_details {
  width: 100%;
  margin-top: 7rem;
  padding: 0 4rem;
}

.car_models .model_details .model_titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.car_models .model_details .model_titles h1 {
  font-size: 2rem;
}

.car_models .model_details .model_names {
  padding: 0 1rem;
  margin: 3rem 0;
  display: grid;
  grid-template-columns: 30% 70%;
  /* gap: 2rem; */
}

.car_models .model_details .model_names .model_buttons {
  display: flex;
  padding: 0 0.5rem;
  flex-direction: column;
  width: 85%;
  gap: 5px;
}

.car_models .model_details .model_names .model_buttons .car_model_bton {
  padding: 7px;
  background-color: lightgrey;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  border: transparent;
}

.car_models .model_details .model_names .model_buttons .car_model_bton:hover {
  background-color: tomato;
  color: white;
}

.car_models .model_details .model_names .model_car_logo {
  padding: 0 2rem;
  display: grid;
  gap: 4rem;
  grid-template-columns: 60% 40%;
}

.image_collection .image_container {
  display: none;
}

.car_models .model_details .model_cars img {
  width: 500px;
  height: 372px;
}

.car_models .model_details .car_price_rent_descriptions {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.car_models .model_details .car_price_rent_descriptions .price_rent {
  border: 1px solid black;
  padding: 8px 5px;
  text-align: center;
  background-color: #199ceff5;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.car_models
  .model_details
  .car_price_rent_descriptions
  .price_rent
  .rent_price {
  font-weight: bolder;
  font-size: 1.5rem;
  color: #ffd100;
  padding-right: 7px;
}

.car_models .model_details .car_price_rent_descriptions .rent_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 8px 5px;
  text-align: center;
}

.car_models
  .model_details
  .car_price_rent_descriptions
  .rent_list
  span:first-child {
  border-right: 1px solid black;
}

.car_models
  .model_details
  .car_price_rent_descriptions
  .booking_button
  .book_car_button {
  padding: 7px;
  margin-top: 2rem;
  display: flex;
  background-color: #199ceff5;
  color: white;
  border: 2px solid black;
  justify-content: center;
  align-items: center;
}

.about_company_services {
  margin: 8rem 0;
  width: 100%;
  background-color: #199ceff5;
  padding: 2.5rem 0;
  color: white;
}

.about_company_services .banner {
  width: 100%;
}

.about_company_services .banner h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about_company_services .banner p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.description_about_company {
  width: 100%;
  margin: 1rem 0 4rem 0;
}

.description_about_company .some_car_images {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description_about_company .some_car_images img {
  width: 60%;
}

.description_about_company .description_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  margin-top: 2rem;
}

.description_about_company .description_content .about_us_left {
  width: 90%;
  display: flex;
  justify-content: left;
  padding: 2rem 2rem 2rem 10rem;
  flex-direction: column;
}

.description_about_company .description_content .about_us_left h2 {
  font-size: 1.8rem;
  font-weight: 1200;
  margin: 10px 0;
}

.description_about_company .description_content .about_us_left > p {
  color: black;
  font-weight: 5rem;
}

.description_about_company .description_content .about_us_left button {
  width: 152px;
  padding: 16px;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  background-color: tomato;
  color: white;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  border: none;
}

.description_about_company .description_content .about_us_left button span {
  font-size: 1.2rem;
  margin-left: 8px;
}

.description_about_company .description_content .about_us_right {
  width: 80%;
}

.description_about_company
  .description_content
  .about_us_right
  .about_contents_one {
  display: grid;
  grid-template-columns: 20% 80%;
  margin: 2rem 0;
}

.description_about_company
  .description_content
  .about_us_right
  .about_contents_one
  .about_img {
  width: fit-content;
}

.description_about_company
  .description_content
  .about_us_right
  .about_contents_one
  img {
  width: 70px;
  height: 70px;
}

.description_about_company
  .description_content
  .about_us_right
  .about_contents_one
  .describe
  h2 {
  color: tomato;
}

.user_feedback {
  margin: 4rem 0;
  padding: 2rem 8rem;
  width: 100%;
  background-color: #f0ebeb90;
}

.user_feedback .feedback_descriptions {
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.user_feedback .feedback_descriptions .feedback_heading {
  width: 60%;
}

.user_feedback .feedback_descriptions .feedback_heading h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user_feedback .feedback_descriptions .feedback_heading p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_feedback .feedback_descriptions .feedback_card {
  width: 100%;
  margin: 4rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.user_feedback .feedback_descriptions .feedback_card .feedback_message {
  width: 500px;
  height: fit-content;
  background-color: #e3e7eb;
  padding: 1.1rem 1rem;
}

.user_feedback
  .feedback_descriptions
  .feedback_card
  .feedback_message
  .user_profile {
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.user_feedback
  .feedback_descriptions
  .feedback_card
  .feedback_message
  .user_profile
  img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.query {
  width: 100%;
  margin: 4rem 0;
  padding: 3rem;
}

.query .asked_query {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.query .back_car_img {
  position: absolute;
  z-index: -1;
}

.query .back_car_img img {
  width: 500px;
  position: relative;
  top: 7rem;
  left: -37rem;
  z-index: -1;
}

.query .asked_query .query_heading {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.query .asked_query .query_heading h1 {
  font-size: 1.8rem;
}

.query .asked_query .query_box {
  margin-top: 4rem;
  width: 40%;
  box-shadow: 10px 10px 30px #000;
}

.query .asked_query .query_box .query_questions {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.query .asked_query .query_box .query_questions .question_details {
  display: grid;
  grid-template-columns: 95% 5%;
  padding: 13px;
  background-color: #f7f3f3;
}

.query .asked_query .query_box .query_questions .question_details:hover {
  color: white;
  background-color: tomato;
}

.query .asked_query .query_box .query_questions .query_solution {
  padding: 18px 15px;
  background-color: #e7e0e0;
  display: none;
  font-size: 10px;
}

.downloads {
  width: 100%;
  padding: 10rem 0;
  margin-top: 4rem;
  background-image: url(https://car-rental-ten.vercel.app/static/media/bg02.3efbc4567749d0a5671e.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f3f2f2;
}

.downloads .download_container {
  max-width: 100rem;
  padding: 0 10rem;
  align-items: center;
}

.downloads .download_controls {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 35rem;
  text-align: left;
}

.downloads .download_controls h2 {
  font-size: 2.5rem;
}

.downloads .download_controls .download_buttons img {
  cursor: pointer;
}

/*         FOOTER             */

footer {
  width: 100%;
  padding: 5rem 4rem 5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

footer .car_footer {
  width: 80%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

footer .car_footer .some_about_offer h2 {
  font-size: 1.5rem;
}

footer .car_footer .some_about_offer h2 strong {
  color: tomato;
}

footer .car_footer .contact_services {
  padding: 0.7rem 0;
}

footer .car_footer .contact_services .contact_one {
  display: flex;
  padding: 4px 0;
  cursor: pointer;
}

footer .car_footer .contact_services .contact_one span {
  margin-right: 4px;
}

footer .car_footer .contact_services .contact_two {
  display: flex;
  padding: 4px 0;
  cursor: pointer;
}

footer .car_footer .contact_services .contact_two span {
  margin-right: 4px;
}

footer .car_footer .working_hour_details p {
  padding: 4px 0;
}

footer .car_footer .working_hour_details p:last-child {
  color: tomato;
}

footer .car_footer .follow_us h2 {
  margin: 0 0 0.5rem 0;
}

footer .car_footer .follow_us input {
  width: 100%;
  padding: 9px;
  font-size: 14px;
  outline: none;
  border: none;
  border-radius: 3px;
  margin: 7px 0;
}

footer .car_footer .follow_us .mail_box {
  background-color: #f5efef;
  margin-top: 16px;
}

footer .car_footer .follow_us #subscribe {
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  background-color: tomato;
}

/* MEDIA QUERIES */

@media (max-width: 790px) {
  header {
    padding: 0 0 13rem 0;
    height: fit-content;
  }

  nav > img {
    height: 75%;
  }

  .head .car-detail {
    padding: 0px 4rem;
  }

  .head .car-detail h1 {
    font-size: 2rem;
  }

  .head .car-detail .button_container {
    gap: 20px;
  }

  .head .car-detail .button_container button {
    padding: 12px 7px;
    font-size: 1rem;
    width: 8rem;
    justify-content: center;
  }

  .head .car-detail .button_container button span {
    font-size: 1rem;
  }

  .head .car-image img {
    right: 20px;
  }

  main .booking_details {
    width: 90%;
  }

  main .booking_details form .options {
    padding: 0 19px;
  }

  main .booking_details form .options label {
    font-size: 1rem;
  }

  main .booking_details form .options select {
    font-size: 1rem;
  }

  main .booking_details form .optionFour .date_options {
    font-size: 1rem;
  }

  main .booking_details .confirm_button #confirm {
    width: 250px;
  }

  .some_prescription .explain_about_cars .planning_features {
    padding: 2rem 1rem;
    gap: 1rem;
  }

  .some_prescription .explain_about_cars .planning_features .planningall {
    padding: 0 1rem;
  }

  .some_prescription
    .explain_about_cars
    .planning_features
    .planningall
    .aboutPlan-explain
    h2 {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .some_prescription
    .explain_about_cars
    .planning_features
    .planningall
    .aboutPlan-explain
    p {
    text-align: center;
    font-size: 13px;
  }

  .car_models .model_details {
    padding: 0 2rem;
  }

  .car_models .model_details .model_names {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .car_models .model_details .model_names .model_buttons {
    width: 60%;
  }

  .car_models .model_details .model_names .model_car_logo {
    gap: 1rem;
    padding: 0 1rem;
  }

  .car_models .model_details .model_cars img {
    top: 20px;
    position: relative;
    width: 350px;
    height: 310px;
  }

  .car_models .model_details .car_price_rent_descriptions .price_rent {
    padding: 6px 4px;
  }

  .car_models .model_details .car_price_rent_descriptions .rent_list {
    font-size: 13px;
  }

  .car_models
    .model_details
    .car_price_rent_descriptions
    .booking_button
    .book_car_button {
    margin-top: 1rem;
  }

  .about_company_services {
    margin: 6rem 0;
  }

  .about_company_services .banner p {
    width: 75%;
    margin: auto;
  }

  .description_about_company .description_content {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .description_about_company .description_content .about_us_left {
    width: 100%;
    padding: 2rem 6rem;
    text-align: center;
  }

  .description_about_company .description_content .about_us_left > p {
    font-size: 13px;
  }

  .description_about_company .description_content .about_us_left button {
    margin: auto;
    margin-top: 1.5rem;
  }

  .description_about_company .description_content .about_us_right {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    padding: 0 1.5rem;
  }

  .description_about_company
    .description_content
    .about_us_right
    .about_contents_one {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .description_about_company
    .description_content
    .about_us_right
    .about_contents_one
    .about_img {
    width: auto;
  }

  .description_about_company
    .description_content
    .about_us_right
    .about_contents_one
    .about_img
    img {
    width: 85px;
    height: 85px;
  }

  .description_about_company
    .description_content
    .about_us_right
    .about_contents_one
    .describe
    h2 {
    font-size: 1rem;
    padding: 10px 0;
  }

  .description_about_company
    .description_content
    .about_us_right
    .about_contents_one
    .describe
    p {
    font-size: 12px;
    padding: 0 10px;
  }

  .user_feedback {
    padding: 2rem 3rem;
    margin: 2rem 0;
  }

  .user_feedback .feedback_descriptions .feedback_heading {
    width: 70%;
    text-align: center;
  }

  .user_feedback .feedback_descriptions .feedback_heading p {
    font-size: 12px;
  }

  .user_feedback .feedback_descriptions .feedback_card {
    gap: 15px;
  }

  .user_feedback .feedback_descriptions .feedback_card .feedback_message {
    width: 100%;
  }

  .user_feedback .feedback_descriptions .feedback_card .feedback_message p {
    font-size: 14px;
  }

  .user_feedback
    .feedback_descriptions
    .feedback_card
    .feedback_message
    .user_profile {
    margin-top: 1rem;
  }

  .user_feedback
    .feedback_descriptions
    .feedback_card
    .feedback_message
    .user_profile
    img {
    width: 40px;
    height: 40px;
  }

  .user_feedback
    .feedback_descriptions
    .feedback_card
    .feedback_message
    .user_profile
    .user_detail
    h3 {
    font-size: 1rem;
  }

  .user_feedback
    .feedback_descriptions
    .feedback_card
    .feedback_message
    .user_profile
    .user_detail
    p {
    font-size: 14px;
  }

  .query {
    margin: 2rem 0;
    padding: 1rem 2rem 4rem 2rem;
  }

  .query .asked_query .query_heading {
    width: 70%;
    text-align: center;
  }

  .query .back_car_img img {
    left: -23rem;
    top: 12rem;
    width: 300px;
  }

  .query .asked_query .query_box {
    width: 70%;
  }

  .query .asked_query .query_box .query_questions .question_details {
    padding: 10px;
  }

  .downloads {
    padding: 3rem 1rem;
  }

  .downloads .download_container {
    padding: 0 2rem;
  }

  .downloads .download_controls {
    max-width: 26rem;
  }

  .downloads .download_controls h2 {
    font-size: 1.5rem;
  }

  .downloads .download_controls p {
    font-size: 12px;
  }

  .downloads .download_controls .download_buttons {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .downloads .download_controls .download_buttons img {
    width: 160px;
  }

  footer {
    padding: 4rem 3rem 4rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  footer .car_footer {
    padding: 15px 10px;
    width: 95%;
  }
}

@media (max-width: 560px) {
  header {
    height: 100vh;
  }

  nav > img {
    width: 85%;
    height: 100%;
  }

  .nav-container .nav-logo {
    position: absolute;
    left: 30px;
  }

  .nav-container .menu {
    display: none;
  }

  .nav-container .register {
    display: none;
  }

  .nav-container #bton_icon {
    cursor: pointer;
    display: block;
  }

  .nav-container #bton_icon span {
    position: absolute;
    right: 30px;
    display: flex;
    align-items: center;
    line-height: 70px;
  }

  header .scroll_top {
    right: 2rem;
    bottom: 2rem;
  }

  .head {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 8rem;
    flex-direction: column;
    padding: 0;
  }

  .head .car-detail h1 {
    font-size: 2rem;
  }

  .head .car-detail .button_container {
    flex-direction: column;
  }

  .head .car-detail .button_container button {
    width: 11rem;
    padding: 15px;
  }

  .head .car-detail .button_container button:nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .head .car-detail .button_container button span {
    font-size: 1.4rem;
  }

  .head .car-image {
    display: none;
  }

  main .booking_details {
    padding: 1.5rem 1.5rem;
  }

  main .booking_details form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .some_prescription {
    margin-top: 6rem;
  }

  .some_prescription .explain_about_cars .planning_features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem 2.5rem;
  }

  .car_models .model_details {
    margin-top: 6rem;
  }

  .car_models .model_details .model_names .model_buttons {
    width: 80%;
  }

  .car_models .model_details .model_names .model_car_logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }

  .car_models .model_details .model_cars img {
    width: 300px;
    height: 250px;
    top: 0;
  }

  .car_models .model_details .car_price_rent_descriptions {
    width: 80%;
  }

  .about_company_services .banner h1 {
    padding: 0 2rem;
  }

  .about_company_services .banner p {
    padding: 0 2rem;
  }

  .description_about_company .some_car_images img {
    width: 80%;
  }

  .description_about_company .description_content .about_us_left {
    padding: 2rem 3rem;
  }

  .description_about_company .description_content .about_us_left h2 {
    font-size: 1.5rem;
  }

  .description_about_company .description_content .about_us_left p {
    font-size: 10px;
  }

  .description_about_company .description_content .about_us_left button {
    padding: 13px;
  }

  .description_about_company .description_content .about_us_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: cen;
    padding: 0 2rem;
  }

  .description_about_company
    .description_content
    .about_us_right
    .about_contents_one {
    padding: 0 2rem;
  }

  .user_feedback {
    padding: 1rem 2rem;
  }

  .user_feedback .feedback_heading {
    width: 80%;
  }

  .user_feedback .feedback_descriptions .feedback_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    margin: 2rem 0;
  }

  .query .asked_query .query_heading {
    width: 80%;
  }

  .query .asked_query .query_heading p {
    font-size: 12px;
  }

  .query .back_car_img img {
    left: -15rem;
    top: 10rem;
  }

  .query .asked_query .query_box {
    width: 95%;
  }

  .query .asked_query .query_box .query_questions .question_details {
    font-size: 15px;
  }

  .download_container .download_controls {
    max-width: 20rem;
    gap: 1rem;
  }

  .download_container .download_controls h2 {
    font-size: 1rem;
  }

  .download_container .download_controls p {
    font-size: 9px;
  }

  .download_container .download_controls .download_buttons img {
    width: 110px;
  }

  footer {
    padding: 4rem 1.5rem 4rem;
    gap: 0.5rem;
  }

  footer .car_footer .some_about_offer h2 {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }

  footer .car_footer .some_about_offer p {
    font-size: 12px;
  }

  footer .car_footer .contact_services .contact_one {
    font-size: 12px;
  }

  footer .car_footer .contact_services .contact_one span {
    font-size: 20px;
  }

  footer .car_footer .working_hour_details h2 {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }

  footer .car_footer .working_hour_details p {
    font-size: 12px;
  }

  footer .car_footer .company_locations h2 {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }

  footer .car_footer .company_locations p {
    font-size: 12px;
  }

  footer .car_footer .follow_us h2 {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }

  footer .car_footer .follow_us p {
    font-size: 12px;
  }
}

@media (max-width: 425px) {
  nav > img {
    width: 100%;
  }

  main .booking_details form .options select {
    font-size: 14px;
  }

  main .booking_details .confirm_button #confirm {
    font-size: 0.9rem;
    padding: 10px;
  }

  .car_models .model_details {
    padding: 0 2.5rem;
    margin-top: 4rem;
  }

  .car_models .model_details .model_titles {
    text-align: center;
  }

  .car_models .model_details .model_titles h4 {
    font-size: 13px;
  }

  .car_models .model_details .model_titles h1 {
    font-size: 1.4rem;
  }

  .car_models .model_details .model_titles p {
    font-size: 11px;
  }

  .car_models .model_details .model_names .model_buttons {
    width: 90%;
  }

  .car_models .model_details .model_names .model_car_logo {
    gap: 3rem;
  }

  .about_company_services .banner h1 {
    font-size: 1rem;
  }

  .about_company_services .banner p {
    font-size: 11px;
  }

  .user_feedback .feedback_descriptions .feedback_heading {
    width: 88%;
  }

  .user_feedback .feedback_descriptions .feedback_card {
    padding: 0 0.7rem;
  }

  .user_feedback .feedback_descriptions .feedback_heading .feedback_message {
    padding: 0 0.8rem;
  }

  .user_feedback .feedback_descriptions .feedback_card .feedback_message p {
    font-size: 12px;
  }

  .user_feedback
    .feedback_descriptions
    .feedback_card
    .feedback_message
    .user_profile
    .user_detail
    h3 {
    font-size: 14px;
  }

  .user_feedback
    .feedback_descriptions
    .feedback_card
    .feedback_message
    .user_profile
    .user_detail
    p {
    font-size: 10px;
  }

  .query {
    padding: 1rem 1rem 3rem;
  }

  .query .asked_query .query_heading {
    width: 90%;
  }

  .query .asked_query .query_heading h4 {
    font-size: 12px;
  }

  .query .asked_query .query_heading h1 {
    font-size: 18px;
  }

  .query .asked_query .query_heading p {
    font-size: 10px;
  }

  .query .back_car_img img {
    top: 8rem;
    left: -13rem;
  }

  .query .asked_query .query_box .query_questions .question_details {
    font-size: 12px;
    align-items: center;
  }

  .downloads {
    padding: 2rem 0.5rem;
  }

  .download_container .download_controls {
    max-width: 15rem;
  }

  .download_container .download_controls h2 {
    font-size: 14px;
  }

  .download_container .download_controls p {
    font-size: 7px;
  }

  .download_container .download_controls .download_buttons {
    width: 90px;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
  }

  footer .car_footer {
    text-align: center;
  }

  footer .car_footer .contact_services .contact_one {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  footer .car_footer .contact_services .contact_two {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 14px;
  }

  footer .car_footer .contact_services .contact_two span {
    font-size: 20px;
  }

  footer .car_footer .follow_us {
    padding: 0 1.3rem;
  }
}

@media (max-width: 340px) {
  .nav-container .nav-logo img {
    width: 55px;
    height: 55px;
  }

  .nav-container #bton_icon span {
    line-height: 53px;
    font-size: 1.8rem;
  }

  .head .car-detail {
    padding: 0 1rem;
  }

  .head .car-detail h4 {
    font-size: 12px;
  }

  .head .car-detail h1 {
    font-size: 1.4rem;
  }

  .head .car-detail p {
    font-size: 10px;
  }

  .head .car-detail .button_container {
    align-items: center;
  }

  .head .car-detail .button_container button {
    font-size: 14px;
    padding: 12px;
    width: 10rem;
  }

  main .booking_details {
    padding: 1.5rem 0;
  }

  .car_models .model_details {
    padding: 0 0.5rem;
  }

  .car_models .model_details .model_titles p {
    padding: 0 1rem;
  }

  .car_models .model_details .car_price_rent_descriptions .price_rent {
    font-size: 12px;
  }

  .car_models
    .model_details
    .car_price_rent_descriptions
    .price_rent
    .rent_list {
    font-size: 11px;
  }

  .car_models
    .model_details
    .car_price_rent_descriptions
    .booking_button
    .book_car_button {
    font-size: 14px;
  }

  .about_company_services .banner h1 {
    padding: 0 1rem;
  }

  .about_company_services .banner p {
    padding: 0 1rem;
    width: 90%;
  }

  .description_about_company .description_content .about_us_left {
    padding: 1rem 1rem;
  }

  .user_feedback {
    padding: 1rem;
  }

  .user_feedback .feedback_descriptions .feedback_heading h1 {
    font-size: 13px;
  }

  .user_feedback .feedback_descriptions .feedback_heading p {
    font-size: 10px;
  }

  .user_feedback .feedback_descriptions .feedback_card .feedback_message {
    padding: 10px;
  }

  .query {
    padding: 1rem;
  }

  .query .query_box {
    margin-top: 2.5rem;
  }

  .query .asked_query .query_box .query_questions .question_details {
    font-size: 11px;
    width: 100%;
    padding: 10px 16px;
  }

  .downloads .download_controls {
    max-width: 12rem;
    gap: 9px;
  }

  .downloads .download_controls p {
    font-size: 6px;
  }

  .download_container .download_controls .download_buttons img {
    width: 75px;
  }

  footer .car_footer .some_about_offer h2 {
    font-size: 1.1rem;
  }

  footer .car_footer .some_about_offer p {
    font-size: 10px;
  }

  footer .car_footer .working_hour_details p {
    font-size: 10px;
  }

  footer .car_footer .working_hour_details h2 {
    font-size: 1.1rem;
  }

  footer .car_footer .company_locations h2 {
    font-size: 1.1rem;
  }

  footer .car_footer .company_locations p {
    font-size: 10px;
  }

  footer .car_footer .follow_us h2 {
    font-size: 1.1rem;
  }

  footer .car_footer .follow_us p {
    font-size: 10px;
  }
}
